[2018-01-02 22:07] LeeDr opened #2 "Allow running against SNAPSHOT builds"
If we can run against SNAPSHOT builds we can find problems in the product and/or installation scripts before we get the first staging build.

I'll create a PR soon, but until then, here's what I did that seems to work;

In my buildenv.sh;
[code]

And then I made changes in 3 places in scripts/python/lib/es_build.py;

![image](https://user-images.githubusercontent.com/13542669/34501756-f941d0e0-efd

[2018-01-30 19:10] liza-mae opened #6 "Automation Framework: UI and API test libraries"
Design and develop a common automation framework for ui and api libraries.  Must be reusable and maintainable.  Using Pytest.  Initial framework add libraries for product integration test suite.

Libraries
[x] Base class for elasticsearch api
[x] Base class for kibana ui
[x] Class for elasticsearch bulk api
[x] Class for kibana page object: login
[x] Class for kibana page object: discover
[x] Clas

[2018-01-30 19:13] liza-mae opened #7 "Test Suite: Product integration"
Design develop a product integration test suite for high priority tests.

* [ ] Create test plan
* [ ] Write automation tests

[2018-01-30 19:15] liza-mae opened #8 "Automation Framework: Continuous Integration"
Set up Jenkins job for elastic-stack-testing.

[2018-02-12 19:30] jordansissel opened #11 "Python 3.6 requirement is high?"
The latest debian (9) provides Python 3.5, so this repo does not function:

[code]

Is Python 3.6 required?

I replaced the `python3.6` call with `python 3.5` and it seems to proceed ok

[code]

[2018-02-12 19:30] jordansissel opened #12 "Blue text is difficult to read on dark backgrounds"
[code]

The info logs appear in dark blue on my terminal:

![image](https://user-images.githubusercontent.com/131818/36115526-2bdeebb4-0fe8-11e8-8a06-8ab1361002b2.png)

It's hard to read. Can the color be changed?

[2018-03-09 21:44] liza-mae opened #15 "Test Suite: Product Installation"
Test suite for installing all the products for the different packages and operating systems as defined by the support matrix.

https://www.elastic.co/support/matrix#matrix_os

[2018-03-09 21:45] liza-mae opened #16 "Test Suite: Product Upgrade"
Test suite for upgrade paths for all the products.

[2018-03-09 21:46] liza-mae opened #17 "Test Suite: Product Version Compatibility"
Test suite for product version compatibility.

https://www.elastic.co/support/matrix#matrix_compatibility

[2018-05-10 22:56] liza-mae opened #18 "Add ESTF cloud provisioning script, build script and Jenkins job"
Need an automated way to create and delete cloud instances for testing.

- [x] Python Cloud SDK Client - Enrique
- [x] Automation username / password for cloud API - Enrique
- [x] Vault role, policy and path for stack tests - DJ
- [x] Jenkins secret / role IDs - Tyler
- [x] Python cloud provisioning script - Liza
  - [x] create cluster
  - [x] delete cluster
  - [x] generate properties file
- [x]

[2018-05-18 20:33] liza-mae opened #19 "Add Kibana tests to ESTF cloud provisioning and Jenkins jobs"
Add kibana tests: x-pack and no-xpack to cloud provisioning.  Reference: #18

- [x] Cloud provisioning
- [x] Jenkins CI

[2018-05-31 21:00] liza-mae commented on #18
Code has been merged/tested in infra and elastic-stack-testing.

[2018-05-31 21:00] #18 closed

[2018-06-04 22:19] liza-mae opened #20 "Add Elasticsearch tests to ESTF cloud provisioning and Jenkins jobs"
Add elasticsearch tests to cloud provisioning and jenkins ci. Reference: #18
- [ ] Cloud provisioning
- [ ] Jenkins CI

[2018-06-04 22:22] liza-mae opened #21 "Add ML tests to ESTF cloud provisioning and Jenkins jobs"
Add ML tests to cloud provisioning and jenkins ci. Reference: #18

- [ ] Cloud provisioning
- [ ] Jenkins CI

[2018-06-12 13:00] dolaru commented on #21
@liza-mae when you say `add ML tests` what tests are we talking about? I'd love to get a better idea of your expectations and figure out how i can help.

[2018-06-12 19:43] liza-mae commented on #21
Hi @dolaru This initiative is for cross-stack QA to run tests from each of the product teams against cloud.  Which tests are run is up to the product teams to decide and those tests are maintained in the product teams repo.  The common part or what plan to standardize is the provisioning and I have also created Jenkins jobs.  The information I need from each of the product teams is how to kick off

[2018-07-25 16:18] liza-mae opened #23 "ESTF Cloud Jenkins job failing due to token timeout"
I am getting the following error on the cloud cluster cleanup script when running the Kibana tests.  After some further investigation the problem is most likely due to the vault token expiring by the time the test reaches cleanup point (the kibana tests run about an hour).  The vault token currently is done as part of the Jenkins job at the beginning, so either I need to move that into ESTF Gradle

[2018-07-25 16:20] liza-mae commented on #19
This has been completed.

[2018-07-25 16:20] #19 closed

[2018-07-26 20:07] liza-mae commented on #23
Infra fixed this issue with vault token by increasing expiration timeout

[2018-07-26 20:07] #23 closed

[2018-08-01 16:24] ycombinator opened #25 "[Monitoring Kibana] Test for ensuring parity in indexed docs"
We are currently working on a solution that will allow users to use [Metricbeat to monitor the Elastic stack](https://github.com/elastic/beats/issues/7035). The first piece of this is to try and [use Metricbeat to monitor Kibana](https://github.com/elastic/beats/pull/7525).

The idea is that metricbeat will create exactly the same documents in `.monitoring-kibana-*` indices as Kibana's internal mo

[2018-08-14 20:40] #25 closed

[2018-10-31 00:30] #21 closed

[2018-11-09 01:36] liza-mae opened #38 "Add a way to check kibana health when configuring cloud"
Currently - the health of Kibana is not checked when configuring cloud - so it ends up just going on to the tests - it should stop instead.

From Isaac as reference:   If you do a `GET` on `/clusters/kibana/{cluster_id}` you get back `KibanaClusterInfo` which contains `healthy`.  In the SDK you would need to use this method.
https://github.com/elastic/cloud-sdk-java/blob/master/docs/generated/docs

[2018-11-20 23:29] ycombinator opened #40 "Make CI script for Monitoring parity tests"
Some time ago we started writing automated tests for ensuring parity between Elasticsearch-indexed and Metricbeat-indexed Monitoring documents. The playbooks, etc. for these tests live here: https://github.com/elastic/elastic-stack-testing/tree/master/playbooks/monitoring.

We'd like to run these tests in Jenkins, whenever a new release manager job runs.

This issue is to write the necessary scrip

[2018-11-28 22:47] imkarrer commented on #20
I am re-opening this issue since we currently execute some tests from the elasticsearch repo within our scala test framework for cloud.  ESTF has patterns established for checking out repositories and managing other gradle projects.  I think it is the rightful home for the execution of our stack tests against cloud.

We are tracking elastic/cloud#23898 on our side.

[2018-11-29 01:48] liza-mae commented on #40
ESTF Monitoring jobs are in Jenkins now - thanks for the very speedy review/merge @itsmed !

[2018-11-29 01:48] #40 closed

[2019-02-21 21:11] liza-mae commented on #16
**Test Plan**

**Setup:**
* Install Elasticsearch
* Install Kibana
* Install Logstash
* Install Filebeat
* Install Metricbeat
* Install Packetbeat
* Install Heartbeat
* Install APM
* Wait for 35 seconds for data to come in from services
* Verify Kibana is running and is active state
* Load sample data into Kibana
* Create a non-default space
* Load sample data into default and non-default spaces
*

[2019-03-14 16:41] ycombinator opened #148 "Fix ESTF Monitoring queries after type removal from monitoring index templates"
Recently a change was made to remove types from the `.monitoring-*` index templates. This has resulted in ESTF Monitoring build jobs for [`master`](https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+master/) (8.0) and [`7.x`](https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+7.x/) to fail like so:

[code]

[2019-03-19 19:18] liza-mae commented on #38
Should be fixed with #157

[2019-03-19 19:18] #38 closed

[2019-04-22 23:02] ycombinator opened #181 "ESTF Monitoring parity tests failing"
Looks like the ESTF Monitoring parity tests for `master` are failing like so:

[code]

(Source: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-monitoring-snapshots+master/103/console)

I was able to reproduce this failure locally and do some investigation by looking at logs and configurations for Metricbeat, Kibana, and Elasticsearch on the VM. Here's what I found:

1. Metricbe

[2019-04-23 00:55] liza-mae commented on #181
@ycombinator thanks for narrowing it down!  Indeed this is because of a change I made to the kibana roles.  The change I made was a bug fix though :)

You will need to make the following updates:

Change `kibana` to `xpack_kibana` here:
https://github.com/elastic/elastic-stack-testing/blob/5ae00a173592bc8e3b79adfac5f12a3b3a361e2b/playbooks/monitoring/kibana/docs_parity.yml#L67

Change `kibana_conf

[2019-04-23 15:23] #181 closed

[2019-04-23 19:21] liza-mae opened #194 "Add localization tests"
Issue to keep track of items, added localization tests for recent Kibana blocker issue: elastic/kibana#35466, PR: #190.

- Added automation scripts for zh-CN setting and Kibana startup
- Added for on-prem release testing
- Working on CI jobs
- It would be nice to add some UI checks too, look into some basic checks later
- Not clear what needs to be for cloud

[2019-04-23 20:55] Bamieh commented on #194
Localization on Cloud is fixed when this PR is merged: https://github.com/elastic/cloud/pull/31589

[2019-04-24 20:33] ycombinator opened #199 "Run each product's monitoring parity tests concurrently?"
Currently we have Monitoring parity tests for Elasticsearch and Kibana. The entrypoint for each of these tests is a separate playbook:
* Elasticsearch: https://github.com/elastic/elastic-stack-testing/tree/master/playbooks/monitoring/elasticsearch, and
* Kibana: https://github.com/elastic/elastic-stack-testing/tree/master/playbooks/monitoring/kibana.

These playbooks are run sequentially. The sequ

[2019-04-24 20:33] ycombinator commented on #199
/cc @elastic/stack-monitoring for awareness.

[2019-04-24 21:30] liza-mae commented on #199
@ycombinator some ideas: running tasks async in Ansible or create a multi-job in Jenkins.

[2019-04-24 23:38] ycombinator commented on #199
Thanks @liza-mae. I looked into Ansible async tasks. I changed `playbooks/monitoring/docs_parity.yml` like so:

[code]

From running the playbook it appears that the included Kibana tasks and Elasticsearch tasks run one after the other, not asynchronously.

What am I missing?

[2019-04-25 07:34] cachedout commented on #199
Hi @ycombinator. Ansible does not support using the `async` keyword in at the include level.

To do this in Ansible I believe you need to apply the keyword directly to tasks which are actually specified in `kibana/docs_parity.yml` and `elasticsearch/docs_parity.yml`.

[2019-04-26 15:36] liza-mae commented on #199
@ycombinator Mike is correct, you can't apply the async to the include, since you have two Ansible playbooks you can drive the execution in parallel through scripting, like Python.  Also since you are running these on one VM you would need to change the ports for Elasticsearch so they don't conflict.  Another option is to separate them into multiple jobs in CI.

[2019-04-26 15:40] ycombinator commented on #199
Thanks @cachedout and @liza-mae. One added benefit of separating into multiple jobs in CI would be that we'd get a nicer breakdown (by branch + product) in the Jenkins UI + email notifications. That, in turn, would make for a better UX for debugging the failures IMO.

@liza-mae What would be involved in splitting up the current setup for Monitoring parity tests into multiple CI jobs, one per produ

[2019-04-26 15:47] liza-mae commented on #199
@ycombinator for sure we have some examples in ESTF already, can you check out the details of job called: elastic+estf-kibana+master-snapshot-tests?

[2019-04-26 15:52] ycombinator commented on #199
Awesome, thanks so much @liza-mae. I can take it from here!

[2019-04-30 01:21] ycombinator commented on #199
Hi @liza-mae, I looked into that job you pointed me to and came up with the following set of changes for running child jobs per product for the ESTF Monitoring tests. Please let me know if I'm on the right general track or if I'm way off. I'm also happy to hear suggestions on how to do any of this better or in a more idiomatic fashion.

Here's what I'm thinking of changing:

1. I'd change this lin

[2019-04-30 17:27] ycombinator opened #208 "Monitoring parity tests should compare multiple pairs of documents"
Currently the Monitoring parity tests index natively-collected documents as well as metricbeat-collected documents into `.monitoring-*` indices. Then they compare the first document indexed via each collection, per `type`, and verify parity.

To make these tests more robust, they should also compare the second document indexed via each collection, per `type`, and verify parity.

[2019-04-30 17:45] liza-mae commented on #199
@ycombinator this looks like a great start !  It looks like it should work :)

[2019-05-06 22:28] ycombinator commented on #199
@liza-mae @cachedout I've created 2 PRs to implement the changes I mentioned in my previous comment:

* For steps 1 - 3: https://github.com/elastic/elastic-stack-testing/pull/217
* For step 4: https://github.com/elastic/infra/pull/11478

Both PRs would need to be merged at about the same time.

[2019-05-07 08:09] cachedout commented on #199
@ycombinator That approach seems totally reasonable to me. Let's see what @liza-mae thinks.

[2019-05-07 14:53] liza-mae commented on #199
Looks great to me @ycombinator !

[2019-05-21 19:41] igoristic opened #218 "Output raw JSON files for any mismatching documents"
It would be very helpful to see **raw** JSON dumps if there is ever a comparison mismatch.

Right now the error output in the Jenkins CI is encoded/escaped which makes it a bit difficult to plug into tools like jsondiff.com and do your own investigation.

The only way to get the raw JSON documents right now is to run the tests locally, which might be a bit of an inconvenience for quick/simple test

[2019-06-21 13:24] ycombinator commented on #218
Hey @igoristic, I recently merged a PR to pretty print the output of the parity tests: https://github.com/elastic/elastic-stack-testing/pull/238.

When it comes to this issue, I think we should **not** pretty print the raw JSON files. Otherwise it would be a lot of scrolling to try and copy the JSON to the clipboard. WDYT?

[2019-07-16 18:22] chrisronline opened #275 "[Monitoring] Elasticsearch shard documents can be inconsistent"
In the monitoring parity tests for Elasticsearch, we are collecting a few `type:shards` monitoring documents from internal collection and MB collection. However, it is possible that the few we grab happen to come from unassigned shards versus assigned shards.

If we compare a monitoring document from an unassigned shard to an assigned shard, the parity tests will fail as the unassigned shard docum

[2019-07-31 14:53] #275 closed

[2019-08-19 21:54] ycombinator opened #302 "Logstash parity tests are flaky"
Occasionally but not always, the Logstash parity tests will fail at this step:

[code]

[2019-08-21 15:24] cachedout opened #307 "ES download is sometimes flaky"
This problem was observed in this test:

https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+7.3+multijob-kibana/49/console

[code]

Note that the download seemed as though it only took three seconds which seems unrealistic, especially in light of a comparison to [another test](https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+7.3+multijob-kibana/50/consoleFull)

[2019-08-21 15:26] liza-mae commented on #307
@cachedout I have seen this before, a handful of times, I agree we should take a deeper look at what might be the root cause and how to better handle it in our ansible roles.

[2019-09-06 14:04] ycombinator opened #315 "[Stack Monitoring] Revisit diff algorithm in parity tests"
Thanks to a change that @cachedout made in https://github.com/elastic/elastic-stack-testing/pull/313, we [found](https://github.com/elastic/elastic-stack-testing/pull/313#discussion_r321544127) some "interesting" properties of the diff'ing utility  we're using in our parity tests. For details, see this thread: https://github.com/elastic/elastic-stack-testing/pull/313#discussion_r321544127.

This i

[2019-09-18 11:33] #315 closed

[2019-09-18 22:09] liza-mae commented on #307
This should be fixed with my latest PR: #373 - I tried only retry with delay before but it did not work, since Ansible won't retry on failure, however it should retry when using until which is what I added.  Since I can't reproduce the failure locally - we will just have to wait and see if it still continues to fail on CI and I will adjust it from there if it does.

[2019-09-23 11:07] ycombinator commented on #302
I haven't noticed this flakiness for the past month or so, ever since https://github.com/elastic/elastic-stack-testing/pull/303 was merged. So I'm closing out this issue now.

[2019-09-23 11:07] #302 closed

[2019-09-23 11:08] ycombinator commented on #218
This was implemented in https://github.com/elastic/elastic-stack-testing/pull/378.

[2019-09-23 11:08] #218 closed

[2019-09-23 11:09] ycombinator commented on #148
I haven't seen this error in a while now so I suspect one of the PRs fixed it. Closing issue for now. Feel free to reopen if this particular error resurfaces.

[2019-09-23 11:09] #148 closed

[2019-09-30 08:28] cachedout commented on #307
@liza-mae Thanks for the update. I am going to set this as closed and if it re-occurs we can just open it back up. Thanks for your work on this!

[2019-09-30 08:28] #307 closed

[2019-10-03 16:05] liza-mae opened #388 "Update cloud configuration"
Need to update the cloud configuration for the Kibana tests, for example disabling welcome screen.  Also, recently the ML team added their tests into the Kibana repo, so I need to enable ML on cloud deployments for those tests to run.

[2019-10-08 19:27] #388 closed

[2019-10-16 21:13] liza-mae opened #394 "Add more cloud testing configurations"
Cloud test configurations to support:

- [x] SaaS AWS staging
- [x] SaaS GCP staging
- [x] SaaS Azure staging
- [x] ECE
- [x] ECK

Product test configurations
- [x] Kibana option overrides (for functional tests)
- [x] Multiple Kibana instances
- [x] Machine Learning enabled (for functional tests)

[2019-10-21 10:06] cachedout opened #395 "Logstash failing to shut down"
It appears that monitoring parity tests against Logstash [are failing](https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+master+multijob-logstash/15/consoleFull) because the Logstash process is not respecting a SIGTERM.

While this may be somewhat similar [to issues diagnosed earlier in the summer](https://github.com/elastic/elastic-stack-testing/issues/302) by @ycombinator, I b

[2019-10-22 23:20] liza-mae commented on #395
@cachedout I am okay if you want to put a workaround until the issue you filed in logstash is resolved, just put a comment linking to your issue in the code, we can change it back once fixed.

[2019-11-18 21:41] ycombinator opened #443 "Run Stack Monitoring parity tests with Basic license too"
Currently, the Stack Monitoring parity tests use a trial license. This is necessary to collect monitoring stats for certain stack features like CCR.

However, there are a few differences in the collected monitoring data (e.g. the `license` field in `type: cluster_stats` documents in `.monitoring-es-*`) when a Basic license is in use on the monitored cluster instead of a Trial license.  To account

[2019-11-18 21:41] ycombinator commented on #443
Pinging @elastic/stack-monitoring.

[2019-11-19 13:20] cachedout commented on #443
+1 great idea. I can take this on unless you were planning to.

[2019-11-19 16:15] ycombinator commented on #443
Go for it, @cachedout!

[2019-11-22 21:44] liza-mae opened #450 "Kibana platform tests: Enable unit testing for Windows"
Currently we have all the Kibana functional tests running in Windows.  From Kibana repo the tests and x-pack/tests directories. Referencing previous work done in: elastic/kibana#21315 where unit tests were failing, we want to re-enable and see what failures we have now.

[2019-11-23 01:56] liza-mae commented on #450
Ran first time on CI -- failing first step eslint.

[2019-11-25 22:00] liza-mae commented on #450
Filed failures in Kibana repo:
https://github.com/elastic/kibana/issues?q=is%3Aopen+is%3Aissue+label%3Atest-windows+label%3Atest-unit

[2019-12-05 18:37] #395 closed

[2020-02-11 00:00] liza-mae commented on #394
I have added all configurations above for ECE, SaaS and ECK.  Yay! :)
Closing.

[2020-02-11 00:00] #394 closed

[2020-02-21 17:33] liza-mae opened #503 "Update Cloud API to use existing configurations instead of creating own"
Recently this command started failing on CI, ESTF cloud run 43:

[code]
From slack with @imkarrer: they are deprecating the clusters api completely and will have  a new deployments api which provides a cleaner interface.

I will file an issue in the Java SDK to support the new deployments api and also discuss with @vogxn  if it makes sense for me to move to Go client (which is kept more up to date

[2020-02-25 00:20] liza-mae opened #505 "Remove disable certificate from ESTF put in Kibana instead"
After merging elastic/kibana#58386 remove the code that does the same thing in ESTF.

[2020-02-25 04:47] vogxn commented on #503
A little bit confused on why the `/platform/configuration/instances` error was related to the deprecation of `/clusters`. Are these two separate issues?

There is no hard timeline on deprecating `/clusters` yet so it will need to be functional for a good while. For now, I think we can quite easily spin up a fresh release of the Java SDK to include the deployments endpoints. This will ensure that y

[2020-02-25 04:58] liza-mae commented on #503
@vogxn yes two issues - it started with the failure on platform/configuration/instances which I am now using existing configurations and from my conversation with Isaac about this he found out that the clusters API was being deprecated too, so I wanted to open an issue to discuss support for the java sdk and/or if we should move to go sdk.

Getting a new Java SDK with deployment endpoints would be

[2020-02-26 19:09] #505 closed

[2020-03-23 19:07] liza-mae opened #511 "Automatically trigger CI cloud stack jobs"
Need to setup automatic CI triggers for the cloud stack jobs for:
- [ ] saas
- [ ] ece
- [ ] eck

saas might not be doable, researching.

[2020-04-10 21:47] liza-mae opened #534 "Add BC builds for Kibana functional tests"
Currently we have CI jobs that run snapshot builds for the Kibana functional tests so we can add OS support to our matrix, but we don't have any jobs that run against BC builds.  That is because at the time Kibana FTR only had --esFrom snapshot or source options.  I think we now can add a URL to the build artifacts which may allow me to do this.

Another thing --esFrom snapshot was at one point do

[2020-04-12 00:30] liza-mae opened #535 "Debug output from Kibana tests not showing in CI"
Even though I am passing in --debug option to Kibana FTR the debug output is not showing up in CI, I expect this might be done in FTR to have it redirected, but not sure yet, need to investigate.  Helpful to have for cloud debugging.

[2020-04-12 00:53] liza-mae commented on #535
This is from FTR:
03:48:11       │ info Starting tests
03:48:11       │ warn debug logs are being captured, only error logs will be written to the console

[2020-04-14 22:27] liza-mae commented on #534
I checked release manager it is one job and currently I use it as an upstream job, so I would need to check with infra team if any values can be passed down from release manager, since there is not a job for each version we would need environment passed in to the downstream job otherwise I won't know which to choose, still need to see if Kibana FTR can support BC url once we get release manager in

[2020-04-16 20:14] liza-mae opened #546 "Add Kibana alerting tests to cloud runs"
See if we can add the following without issues:

- [ ] x-pack/test/alerting_api_integration
- [ ] x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui
- [ ] x-pack/test/functional_with_es_ssl/apps/uptime

[2020-04-16 21:16] liza-mae commented on #546
Looks like the tests are dependent on some custom plugins, which we can't do on cloud it seems.  I spoke with @mikecote he will check and generate a list of which ones we can do and get back to me.

--plugin-path=/home/liza/CHECKINS/kibana/x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts
--plugin-path=/home/liza/CHECKINS/kibana/x-pack/test/alerting_api_integration/common/fixture

[2020-04-16 21:17] liza-mae commented on #534
I confirmed on Kibana FTR we can now add staging builds URL as the same I did for URL fix on snapshots.

[2020-04-16 21:24] liza-mae commented on #534
Confirmed with @mgreau that we should be able to trigger off of release manager now, will start putting it together based on examples he sent me :) thanks !

[2020-04-16 22:00] liza-mae commented on #535
Brian gave me the link to this, closing.

[2020-04-16 22:00] #535 closed

[2020-04-17 19:14] mikecote commented on #546
I ran the tests locally without the plugins setup and all the test suites have a failure rate > 50%. The alerting team will have to fix this issue before we can enable them to run on cloud. I will create an issue for this.

[2020-04-17 19:17] mikecote commented on #546
Issue created here: https://github.com/elastic/kibana/issues/63898

[2020-04-21 14:48] mikecote commented on #546
@liza-mae do you know if there's an issue on Cloud to eventually have support for custom plugins for testing purposes? After taking a look, there's a lot of our tests that rely on these to properly ensure things work as designed.

[2020-04-21 16:38] liza-mae commented on #546
@mikecote there is no plan to support this to my knowledge for cloud, I might be able to add to our ECE testing according to some docs Jose sent me.

cc: @nachogiljaldo for any further comment.

Mike, it would be good to take a look at your test coverage and adjust the test cases for Cloud to match user/customer scenarios for Alerting as much as we can do.

[2020-04-22 17:46] mikecote commented on #546
I have created [an issue](https://github.com/elastic/kibana/issues/63898) to see if and how we can split up the scenarios. From taking a quick look, there's no directory that will run successfully at this time, most files have a dependency on a custom plugin. We will try to isolate those or write them to not use a custom plugin.

ECE could be interesting, being able to use custom plugins will help

[2020-04-22 18:42] liza-mae commented on #546
Sounds like a plan @mikecote.  Looks like the custom plugins in ECE was just announced today to be in next release in our CAH ! Yay ! - so we will certainly take a look.   Not sure yet how custom plugins work in ECK, will look.  We have three configs for cloud: ESS, ECE and ECK, I would like to run each and we can use tags or configs to include/exclude tests depending on the scenarios as you see f

[2020-05-06 19:52] liza-mae opened #550 "Add a way to do PR testing on Cloud"
We need a way to do Kibana PR testing on cloud, from our discussions, we are looking into using the ECE self contained solution to do this.

Alpha Release
- [x] ECE Kibana PR Deployment - _Merge pending_
- [ ] Kibana Smoke Test Integration
- [ ] CI Integration

[2020-05-14 19:46] liza-mae opened #566 "Log commit information for cloud jobs"
It would be useful to log the commit information for the cloud jobs, kibana, elasticsearch and test code base we are using.

[2020-05-14 21:46] #566 closed

[2020-05-27 15:02] mdelapenya opened #585 "Cannot build environment in Mac"
I'm trying to install the build dependencies to run these tests, but the process fails at the very beginning. These are my steps

1. I downgraded local python (3.7) using brew
1. Run `brew unlink python` (later on, with `brew link --overwrite python && brew switch python 3.7.6_1` it's possible to bring back python 3.7)
1. Run `brew install --ignore-dependencies https://raw.githubusercontent.com/Ho

[2020-05-27 15:08] ycombinator commented on #585
@liza-mae Could you advise on the python errors please?

@mdelapenya the README you want to follow for the stack monitoring parity tests is this one (not the top-level one in this repo): https://github.com/elastic/elastic-stack-testing/tree/master/playbooks/monitoring#running-the-tests. I suspect you'd still run into the same Python errors, though, so I'm hoping @liza-mae can help with that.

[2020-05-27 15:31] liza-mae commented on #585
Sure @ycombinator  @mdelapenya I run on Mac OS X and do not have this problem.

No need to downgrade to python 3.6 as it works on python 3.7, it just does not work on python 3.5 which is why at that time I put python3.6 in the scripts, as some Linux system map python3 to python3.5, butI can upgrade this now.

- Ensure vagrant and virtualbox are installed.  I am using the latest and they worked fin

[2020-05-27 15:55] liza-mae commented on #585
I linked the file to python3 instead of python3.6 so you can also pull latest if that works better no need to edit the file.

[2020-05-27 15:58] mdelapenya commented on #585
What is the value for this variable?
[code]
I get:
[code]

[2020-05-27 16:01] liza-mae commented on #585
The error is referring to your Ansible playbook, the build url looks fine.

What is set for AIT_ANSIBLE_PLAYBOOK ?

[2020-05-27 16:02] mdelapenya commented on #585
I updated above comment, as it seems the URL is not found.

The variable you mention takes this value:
[code]

[2020-05-27 16:03] liza-mae commented on #585
I don't believe there is a playbook in that location, which is why you are getting this error. In the playbook directory you need to specify which playbook you want.  For example get_started/install_xpack.

[2020-05-27 16:04] liza-mae commented on #585
The 404 URL error is not related and is okay to see that.

[2020-05-27 16:04] ycombinator commented on #585
@mdelapenya I'm following the steps I linked to earlier and not getting any issues (https://github.com/elastic/elastic-stack-testing/tree/master/playbooks/monitoring#running-the-tests). In step 3 of those instructions, there's an example of setting the `ES_BUILD_URL`.

[2020-05-27 16:05] mdelapenya commented on #585
I followed instructions in here for the values in the shell script: https://github.com/elastic/elastic-stack-testing#quick-start

[2020-05-27 16:06] liza-mae commented on #585
For stack monitoring please follow @ycombinator README they maintain those.  I have not updated the quick start at the higher level -  as these mainly just run in CI lately.

[2020-05-27 16:06] ycombinator commented on #585
As I said in my last two comments, please follow the instructions at https://github.com/elastic/elastic-stack-testing/tree/master/playbooks/monitoring#running-the-tests, **not in any other READMEs**

[2020-05-27 16:41] mdelapenya commented on #585
I think we can close this, as the `python3.6 > python3` change did the thing.

Thanks!

![image](https://media.giphy.com/media/AvMJCeu1EMmhG/giphy.gif)

[2020-05-27 16:41] #585 closed

[2020-06-02 21:43] liza-mae opened #598 "Add tests for cloud production"
Right now we test on ESS on staging, but it would be good to also tests on production.

[2020-06-07 02:19] liza-mae commented on #534
We merged the infra part yesterday, closing.

[2020-06-07 02:19] #534 closed

[2020-08-20 18:52] liza-mae opened #641 "Add docker testing for Kibana support matrix"
We would like to add testing for our Kibana docker images as part of our support matrix.  There are three docker images that need to be tested:
- oss
- default
- ubi8

[2020-08-20 18:54] liza-mae opened #642 "Add ARM aarch64 testing for Kibana support matrix"
We would like to add testing for our Kibana aarch64 images as part of our support matrix.
- [x] oss
- [x] default
- [x] Add CI job for ARM

[2020-08-27 19:15] #550 closed

[2020-09-30 00:49] liza-mae commented on #642
This is done.

[2020-09-30 00:49] #642 closed

[2020-09-30 00:56] liza-mae opened #659 "Add ARM aarch64 deb/rpm package testing for Kibana support matrix"
The oss and default package testing is complete see #642.
The docker testing is part of #735

Kibana issue: elastic/kibana#72885

Target: 7.11 ?

- [x] rpm
- [x] deb
- [ ] Add CI jobs (CentOS blocked, Ubuntu/deb blocked 2/8/2021 - Jenkins machines in bad state after upgrade/aborts)

[2020-09-30 01:04] liza-mae opened #660 "Phase 1: Add ESS upgrade testing"
This is part of meta issue: #16 and describes major and minor upgrade testing for ESS phase 1 testing.

Target: 7.10 FF

Test Paths: [Upgrade Paths Under Test](https://github.com/elastic/elastic-stack-testing/blob/master/ci/cloud/saas/upgrade_paths.json)

CI Job: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/

I tried to also add 6.8.13-SNAPSHOT -> 7.10.0-S

[2020-09-30 01:17] liza-mae commented on #660
The scripting to do ESS upgrades is done for this, working on putting this into CI and how the input and output will look, since this is not a typical CI job for one branch, it needs input paths per the target release under test.

[2020-09-30 01:32] liza-mae commented on #450
This is no longer needed.

[2020-09-30 01:32] #450 closed

[2020-09-30 18:20] liza-mae commented on #660
Testing blocked - snapshots not working since Sep 17, filed an issue.

[2020-10-01 15:26] ThomThomson opened #661 "Add X-pack Accessibility Config"
When running the cloud flaky test runner for this issue: https://github.com/elastic/kibana/issues/76426 I ran into an error stating that the associated config file was not included.

`x-pack/test/accessibility/config.ts` seems to be the correct config file.

[2020-10-07 18:27] liza-mae commented on #660
CI jobs and script updates complete, pending testing.
Still needs BC paths added, pending BCs for 7.10.0, 7.9.3 and 6.8.13.

[2020-10-07 19:34] liza-mae commented on #660
CI jobs tested for current snapshot paths and passed.

[2020-10-13 17:33] liza-mae commented on #660
Added 7.10.0 BC path, one path not working on staging, filed issue.
Still waiting on BCs for 7.9.3 and 6.8.13.

[2020-10-16 20:16] kobelb commented on #16
Hey @liza-mae, I'm super excited to see what we have some coverage for stack upgrades! Apologies for all the questions...

Do you have any more details about what versions we test upgrading from and which version we test upgrading to? Also, how are we "seeding" the data prior to performing the upgrades? Last question, how frequently are these being run?

[2020-10-16 21:01] liza-mae commented on #16
Hi @kobelb this is a general meta issue where I will link specific phases as described in the description.  The first phase that is completed is outlined in linked issue #660, which also describes the initial versions under test.   The initial test plan above describes the use of sample data either built-in (where supported) or sample data from our tutorials.  I am still looking for more data, but

[2020-10-16 22:33] liza-mae commented on #660
Added BC paths: 7.9.3 and 6.8.13.  This is now complete.

[2020-10-16 22:33] #660 closed

[2020-10-29 22:19] liza-mae opened #701 "Investigate migration to TeamCity"
We will be moving our CI from Jenkins to TeamCity.  Doing some research and experiments for the conversion of the ESTF Jenkins jobs to TeamCity.

[2020-10-29 22:22] liza-mae opened #702 "Phase 2: ESS upgrade testing"
This is part of meta issue: #16 and with the completion of Phase 1 (elastic/elastic-stack-testing#660), this issue will outline what will be in Phase 2 of the project.

Target: 7.11

- [x] Add option to provision ML
- [x] Add option to provision APM
- [x] Add option to provision EnterpriseSearch
- [x] Add option for testing different Elasticsearch settings (not default)
- [x] Add option for testin

[2020-12-09 00:13] liza-mae opened #735 "Add ARM aarch64 docker package testing for Kibana support matrix"
The oss and default package testing is complete see #642.
The rpm and deb packages are part of #659

Target: 7.12 ?

 - [x] docker elastic/kibana#72884
 - [ ] Add CI jobs

[2020-12-09 00:15] liza-mae opened #736 "Add x86_64 deb/rpm package testing for Kibana support matrix"
Target: 7.11

 - [x] rpm
 - [x] deb
 - [x] Add CI jobs

[2020-12-17 19:20] liza-mae opened #742 "Add Darwin ARM aarch64 testing"
Add testing for https://github.com/elastic/kibana/issues/83946, scope to be determined.

[2021-01-10 15:39] liza-mae commented on #702
Completed

[2021-01-10 15:39] #702 closed

[2021-01-15 17:23] liza-mae opened #752 "Remove oss package testing"
Remove oss package testing:

- [x] tar
- [x] zip
- [x] rpm (blocked)
- [x] deb (blocked)
- [x] docker
- [x] Runs in CI

[2021-01-25 16:41] liza-mae commented on #752
Completed.

[2021-01-25 16:41] #752 closed

[2021-01-29 18:36] liza-mae commented on #736
This is completed.

[2021-01-29 18:36] #736 closed

[2021-02-03 00:49] liza-mae opened #806 "Phase 3: ESS Upgrade Testing"
ESS Upgrades Phase 1 and Phase 2 infrastructure work and population of sample data to test migrations has been completed.  Next step is to define a Phase 3 which will be a verification phase.  The goal of this phase is to establish a small set of high priority smoke tests.  The tests should not take longer than thirty minutes to complete.  The verification will be done on the ending state which wi

[2021-02-03 17:18] liza-mae commented on #659
For Kibana ```aarch64``` 7.11.0 release, the following:

- Ubuntu installation is tested for ```.deb``` and ```.tar.gz```
- CentOS reporting has an issue: elastic/kibana/issues/89382
- CentOS CI is still blocked by nodejs/help/issues/3202

[2021-02-03 19:33] #701 closed

[2021-02-19 20:19] liza-mae commented on #735
Expected in 7.12.0 BC2

[2021-02-23 16:41] liza-mae commented on #735
Changed to 7.13.0

[2021-03-05 00:25] liza-mae opened #821 "Move ESTF support matrix CI testing to Kibana"
We have been running support matrix tests in ESTF CI since 2018.  The plan was to move it out of ESTF and into the Kibana repo as part of the TeamCity effort.  Since a recent announcement that we will not be using TeamCity anymore #701, the plan now is to move the testing into existing Jenkins jobs for Kibana.

[2021-04-05 17:34] liza-mae commented on #735
This is complete.

[2021-04-05 17:34] #735 closed

[2021-04-05 17:34] liza-mae commented on #659
This is complete.

[2021-04-05 17:34] #659 closed

[2021-04-05 17:35] liza-mae commented on #806
This is complete

[2021-04-05 17:35] #806 closed

[2021-05-05 10:17] Bamieh opened #889 "Add test for kibana running custom plugins"
It would be great if we can add a couple if test cases to make sure kibana is integrating as expected with custom plugins:
- [ ] Kibana install a prebuilt custom plugins
- [ ] i18n works inside the custom plugin
	- [ ] Able to localize its own labels
	- [ ] Able to override kibana's labels

I am willing to submit a PR for this if we agree on adding this. We've had some unexpected E2E behavior in t

[2021-05-18 22:29] liza-mae opened #903 "Fix upgrade Kibana functional test failures"
Investigate and fix upgrade functional test failures on 7.13.0

### Jenkins Job Report

https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/101/testReport/

### Upgrade Paths

[code]
### Dashboard Tests

- **Dashboard tests have two types of failures, the fix will be to adjust the numbers to be at least this number of panels or higher**

- **Should render visuali

[2021-05-19 13:34] liza-mae opened #905 "Add ESS upgrade automation to 8.0"
Add ESS upgrade automation to 8.0 version.

Some helpful links:
- https://github.com/elastic/kibana/issues/76837
- https://github.com/elastic/kibana/issues/85858
- https://github.com/elastic/kibana/issues/81703
- https://github.com/elastic/kibana/blob/master/rfcs/text/0013_saved_object_migrations.md

[2021-05-19 13:35] liza-mae opened #906 "Add ESS upgrade automation on production"
Currently we automate ESS upgrades only on staging, there is value in adding it also to production.

[2021-05-19 16:02] liza-mae opened #907 "Enable Kibana functional tests for Centos ARM"
There was a node segmentation fault error when running on Centos ARM, see https://github.com/nodejs/help/issues/3202, so we were not able to run the kibana functional tests, but recently Kibana upgraded node that has the fix, see: https://github.com/elastic/kibana/pull/100314.  We should be able to enable the functional tests on these node now.

[2021-05-19 16:15] liza-mae opened #908 "Enable Percy verification for upgrade maps functional tests"
See #903, we are seeing a wide tolerance on maps functional tests which are doing basic screenshot diffs.  This is a known product issue that we uncovered during Percy evaluation, since there have been some enhancements to Percy, it would be good (and a small effort) to enable Percy verification on these tests to see what the test results look like now.

[2021-05-19 16:19] #2 closed

[2021-05-19 16:20] #6 closed

[2021-05-19 16:20] #7 closed

[2021-05-19 16:20] liza-mae commented on #8
Done

[2021-05-19 16:20] #8 closed

[2021-05-19 16:21] #11 closed

[2021-05-19 16:22] #12 closed

[2021-05-19 16:22] liza-mae commented on #15
Done

[2021-05-19 16:22] #15 closed

[2021-05-20 15:46] liza-mae commented on #903
After merging elastic/kibana#100306 and #904 the test results only show 1 reporting failure

https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/102/testReport/

[2021-05-20 16:19] liza-mae commented on #903
The reporting failure is not a test issue, investigating why 4GB isn't enough, also the following has been merged to fix large dashboards: https://github.com/elastic/kibana/issues/87956

[2021-05-24 14:59] liza-mae commented on #903
Reporting failure might be related to: https://github.com/elastic/kibana/issues/100461

[2021-05-25 18:57] bhavyarm commented on #661
commenting so I can get updates. Thanks @liza-mae

[2021-05-25 22:50] liza-mae commented on #907
Reopening, debugging testing issues

[2021-05-26 18:06] #907 closed

[2021-05-26 20:01] liza-mae commented on #903
Increased Kibana RAM to 8GB fixes the reporting issue.  All tests pass now!

https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/103/testReport/

Closing.

[2021-05-26 20:01] #903 closed

[2021-06-01 15:57] liza-mae commented on #903
A subsequent run on 7.13.1 at 8GB RAM for reporting failed, so something else causing the reporting issue.

[2021-07-06 06:52] MadameSheema opened #928 "Security Solution Upgrade testing Phase 1: Prepare the data that we are going to use for testing"
In this phase we are going to setup the initial set of data for the POC (see https://github.com/elastic/security-team/issues/1413 for more information), that we are going to use for testing.

- We are going to create a detection rule
- We are going to generate data for it

[2021-07-06 08:57] MadameSheema opened #930 "Security Solution Upgrade testing Phase 2: Prepare Cypress to work with the upgrade framework"
In this phase (see https://github.com/elastic/security-team/issues/1413 for more information) we are going to prepare a specific configuration to run the upgrade tests on the Cypress side. This is because we just want to run specific ones, not the whole Cypress test suite.

[2021-07-06 12:22] MadameSheema opened #931 "Security Solution Upgrade testing Phase 3: Add an upgrade test on Cypress"
In this phase (see https://github.com/elastic/security-team/issues/1413 for more information) we are going to add a new Cypress test to check that after an upgrade the rule created on the first stage, is still present.

Note that this is just a simple test to check that the integration with the upgrade framework works.

[2021-07-06 12:54] MadameSheema opened #932 "Security Solution Upgrade testing Phase 4: Integrate the upgrade testing framework with Cypress"
In this phase (see elastic/security-team#1413 for more information) we are going to make possible to execute cypress tests from the upgrade framework.

[2021-07-07 18:04] MadameSheema commented on #928
Phase 1 completed :)

[2021-07-07 18:04] #928 closed

[2021-07-08 08:56] #930 closed

[2021-07-08 08:56] #931 closed

[2021-07-13 18:07] liza-mae opened #936 "Stack monitoring Kibana parity tests are failing"
Version: 7.14 and 7.x

Stack monitoring parity tests are failing for Kibana:

https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+7.14+multijob-kibana/18/console
https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+7.x+multijob-kibana/558/console

[code]

[2021-07-13 18:10] liza-mae opened #937 "Stack monitoring tests are failing on master"
Version: master

https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-monitoring-snapshots+master/

- Elasticsearch
[code]
- Kibana
[code]
- Logsash
[code]
- Beats
[code]

[code]

[2021-07-14 13:22] liza-mae commented on #936
7.14 passed today

[2021-07-19 15:30] liza-mae commented on #936
https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+7.14+multijob-kibana/29/console

[2021-07-19 19:07] liza-mae commented on #936
I noticed other tests are failing at times since it appears with 7.14.0 Kibana can take a bit longer to come, so I thinking adding a longer wait time for this will fix the problem.

[2021-07-20 15:05] #932 closed

[2021-07-20 22:19] liza-mae opened #948 "Security Solution Upgrade Testing Phase 5: Have the test working in a Jenkins pipeline"
Related to issue elastic/security-team#1413, this issue tracks getting the security solutions upgrade tests in Jenkins CI.

[2021-07-21 16:42] liza-mae commented on #948
The security solution tests are running in CI with PR #943, however a couple more updates needed:
- Omit running the security solution tests if originating are from versions < 7.12
- See if we can publish unit test report for security solution tests

[2021-07-22 15:19] liza-mae commented on #948
Completed

[2021-07-22 15:19] #948 closed

[2021-07-27 19:06] neptunian commented on #937
These will not pass due to master/8.0.0 no longer creating the `.monitoring-*` indices with monitoring with metricbeat, rather only the metricbeat index.  For now, we should remove them as we don't expect parity between these two, but we may add them back later depending if we decided to keep or remove`xpack.enabled`.

More info: https://github.com/elastic/beats/pull/24427

[2021-08-24 15:40] neptunian commented on #936
@sayden Do you have an idea what could be the problem with these tests failing.  We have a flakey test here where metricbeat with the kibana module enabled sometimes does not send any data.  Legacy collection is working fine.  I tried in [this pr](https://github.com/elastic/elastic-stack-testing/pull/973/files) to keep waiting by recalling the request until I get some hits but it still fails somet

[2021-08-30 14:13] pmuellr commented on #936
We're tracking task manager / alerting setting the `unavailable` status, here: https://github.com/elastic/kibana/issues/109095

There doesn't seem to be anything consistent here when we've seen problems.  I've seen it switch from unavailable -> available every 5 seconds.  Still looking into other work-arounds.

Generally speaking, even if alerting / task manager is returning `unavailable`, and thu

[2021-09-07 20:26] liza-mae opened #1000 "Cloud flaky test runner failing to load security service"
Reported by @kertal.

Test run is failing: https://internal-ci.elastic.co/job/elastic+estf-cloud-kibana-flaky-test-runner/281/

Stack Trace:

[code]

Appears to also fail manually.  Step to reproduce:

[code]

[2021-09-07 21:16] liza-mae commented on #1000
Also reported by @poffdeluxe today, I believe this is an FTR issue.  Poff can you also add how you are manually running these?

[2021-09-07 21:21] poffdeluxe commented on #1000
Attempted to run with:
[code]

[2021-09-07 21:41] liza-mae commented on #1000
@kertal your manual failure is because your password is incorrect.
[code]

If you fix the password the test should run.

[2021-09-07 21:41] liza-mae commented on #1000
@poffdeluxe your manual failure appears to be a mismatch between the kibana branch and cloud version, if you run against 7.15 cloud, you need to be on kibana 7.15 branch.

[2021-09-08 00:42] liza-mae commented on #1000
@kertal as far as the flaky test runner issue, looks like something changed recently in the functional test runner.  It appears to impact master branch which is why you see it failing on your PR  https://github.com/elastic/kibana/pull/111284 (side note: I tested your PR manually on cloud using 7.15 branch and it is passed).  So far, latest 7.15 branch is not impacted.  I have not tried latest 7.x

[2021-09-08 01:04] liza-mae commented on #1000
I found the commit that is causing the problem, api/status has changed format here: https://github.com/elastic/kibana/pull/110830, but it does not appear to work on 8.0 snapshot of cloud either.

I will file an issue in kibana repo so someone from kibana ops can take a look.

[2021-09-08 16:46] liza-mae commented on #1000
Looks like all the issues raised have been resolved.  Closing.

[2021-09-08 16:46] #1000 closed

[2021-09-09 12:32] droberts195 opened #1001 "Add automated testing for ARM clusters in ESS"
Soon there will be an option to have ARM clusters in ESS.

Ideally the same automated tests that run on x86_64 clusters in ESS would also be run on an ARM cluster in ESS.

At the moment this is only available in staging.  I don't mind if you set the tests up against staging or wait and set them up against production once it's available.  Either way the Cloud provider used must be AWS.

For staging

[2021-09-09 22:14] liza-mae opened #1003 "ESS specific test suite for stack and solutions"
Currently we rely on the Kibana functional test for testing cloud and although it has caught real issues, it can be hard sometimes to determine the root cause of the failures, since they are not written with cloud in mind.

Tests are either skipped on cloud or handled in some way where the tests still need to work on-prem.  Doing this may not cover all important areas of cloud.   One thing differe

[2021-10-26 18:37] liza-mae opened #1061 "Monitoring tests failing for 7.16"
**Kibana:**
[code]
**Elasticsearch:**
[code]

Logs: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-monitoring-snapshots+7.16/

cc: @jasonrhodes

[2021-11-10 04:14] matschaffer commented on #1061
hey @liza-mae ! that kibana metric is sort of in the space of https://github.com/elastic/kibana/issues/68626

I'm not really familiar with the tests or how to run, verify, and augment them. I'm guessing what this is highliting is a discrepancy between what internal collection is sending vs what metricbeat is sending? It seems somewhat likely there are fields that aren't even in use my stack monito

[2021-11-10 22:36] liza-mae opened #1075 "Cypress upgrade tests failing"
The cloud upgrade tests for rules are failing, here are a few:

- "after all" hook for "Displays the correct timeline details on the timelines page".Import timeline after upgrade "after all" hook for "Displays the correct timeline details on the timelines page"

![Import timeline after upgrade -- Displays the correct timeline details on the timelines page -- after all hook (failed)](https://user-i

[2021-11-15 06:55] matschaffer commented on #1061
@liza-mae I gave this an attempt today but ran into trouble. Here's my buildenv.sh

[code]

and when I run that I fail on

[code]

The file is indeed missing on the VM, not sure what's supposed to create it:

[code]

[2021-11-15 06:58] matschaffer commented on #1061
Just looking at the errors from a code perspective:

[code]

https://github.com/elastic/beats/blob/7.16/metricbeat/module/kibana/stats/data_xpack.go#L54 doesn't have any `event_loop_delay_histogram` so I'd guess metricbeat never collected it. Not sure if we use it on stack monitoring or not but it doesn't sound familiar.

[code]

https://github.com/elastic/beats/issues/27569 is what should get bea

[2021-11-15 09:43] MadameSheema commented on #1075
Thanks @liza-mae those issues are legitimate bugs that are being/going to be addressed for this release.

[2021-11-15 14:07] liza-mae commented on #1075
Thanks @MadameSheema is it possible to link the PR tickets to this one, so we know when it is fixed and get a clear in CI?

[2021-11-15 14:12] liza-mae commented on #1061
@matschaffer regarding the error running the tests: Since there are now breaking changes in 8.x, you need to run the tests from the corresponding branch to the version you are testing, so if you are trying to run tests against 7.16 version, please do a `git checkout 7.16` first.

[2021-11-16 14:54] matschaffer commented on #1061
thanks @liza-mae - I seem to have gotten a success on "./buildenv.sh" now. What `ES_BUILD_URL` should I used to try to see the failure shown in this issue's description? Or is there another way to do it?

[2021-11-16 18:23] liza-mae commented on #1061
@matschaffer the best way is to get it from the failing job on CI by grabbing it from the console output.   For example: https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+7.16+multijob-elasticsearch/13/consoleFull or https://internal-ci.elastic.co/job/elastic+estf-monitoring-snapshots+7.16+multijob-kibana/13/consoleFull - and search for `ES_BUILD_URL`.

[2021-11-17 02:03] matschaffer commented on #1061
I tried `export ES_BUILD_URL=snapshots.elastic.co/7.16.0-27f0a6d6` and now it fails out on this:

[code]

[2021-11-17 15:02] liza-mae commented on #1061
@matschaffer what branch are you using?  How are you running the monitoring tests?  I did not think the failing monitoring jobs for elasticsearch and kibana used filebeat.

[2021-11-17 15:30] liza-mae commented on #1061
I was able to reproduce the CI monitoring failures locally:
1. `git clone git@github.com:elastic/elastic-stack-testing.git`
2. `git checkout 7.16`
3. Edit `playbooks/monitoring/buildenv.sh` with the following:
    - Update `export ES_BUILD_URL=snapshots.elastic.co/7.16.0-27f0a6d6`
    - Add `AIT_STACK_PRODUCT=elasticsearch` or `AIT_STACK_PRODUCT=kibana`, depending which you are testing.
4. From to

[2021-11-18 02:08] matschaffer commented on #1061
ahhhh... my buildenv.sh was at the root. I didn't know about moving into playbooks/monitoring for this.

[2021-11-18 15:56] liza-mae opened #1083 "Security solutions data is failing to upload in pre 7.12 versions"
Security solutions data is failing to upload in pre 7.12 versions, this appeared to be working a few days ago, so something broke recently, I see this PR checked in recently that may have caused it: https://github.com/elastic/elastic-stack-testing/pull/1079

Since this is blocking upgrades, I may temporarily remove these tests until it is fixed.

[2021-11-22 10:28] MadameSheema commented on #1083
Thanks for addressing the issue @liza-mae

The https://github.com/elastic/elastic-stack-testing/pull/1079 PR is not introducing the issue, actually is fixing an issue introduced by: https://github.com/elastic/elastic-stack-testing/pull/1070 In that PR we were renaming the detection rule file but we didn't update the path where we were using it.

<img width="959" alt="Screenshot 2021-11-22 at 11 17

[2021-11-29 16:45] liza-mae commented on #1083
| What comes to my mind in order to address this issue is the following:
|    - Have two different files with the 2 versions of the threshold rule. Depending on the version we start, use one or another.
| Can you please confirm if that approach is correct or if there is a different way to tackle the problem? Thanks! :)

@MadameSheema yes that approach is fine.

[2021-12-06 16:40] liza-mae commented on #821
Since the effort with TeamCity was dropped last year and the Kibana team has moved to using Buildkite.  I am currently investigating moving the testing to Buildkite, this is dependent on whether we can obtain infra managed workers there though.

[2021-12-07 18:34] liza-mae commented on #821
I took a look at the current Buildkite setup.   The kibana team has a GCP project space and one machine type: Ubuntu 20.04.
The kibana agent packer takes about 22 minutes, however even with the infra managed workers, we still need additional setup for the different workers.  I don't have permission to add agents, so I was not able to fully scope the work, but it appears to be more than what can be

[2021-12-07 22:54] liza-mae commented on #742
I have requested workers to handle this testing.

[2021-12-13 17:19] #821 closed

[2021-12-17 09:52] MadameSheema commented on #1083
@liza-mae can you please confirm if this is still an issue? Thanks :)

[2021-12-17 09:52] MadameSheema commented on #1075
@liza-mae can you please confirm if this is still an issue? Thanks :)

[2022-01-05 18:14] liza-mae commented on #937
Per [slack convo](https://elastic.slack.com/archives/CEFAY0599/p1641405388271200).  Reopening to investigate re-adding these tests back, cc: @klacabane @matschaffer

[2022-01-05 18:59] liza-mae commented on #1083
@MadameSheema this is fixed, upgrades are not blocked anymore.

[2022-01-05 18:59] #1083 closed

[2022-01-05 19:02] liza-mae commented on #1075
@MadameSheema the tests are still failing, not sure yet if they are the same failures as mentioned originally, you can find the latest report here: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/162/testReport/

[2022-01-06 04:23] matschaffer commented on #937
Thanks @liza-mae - I'd also lite to get your thoughts on using elastic-stack-testing to help execute https://docs.google.com/spreadsheets/d/1xDX3atdW74Wcso28-BAUMD0fWi9lpUXMxnh5K0aSpRA/edit#gid=1361223087

As far as I know we have 5 collection modes: Internal via ES, Internal direct (I think only logstash), Metricbeat standalone, Metricbeat standalone on cloud, Agent

It'd be great to have somethi

[2022-01-06 15:30] liza-mae commented on #937
Thanks @matschaffer yes I will look over the test plan and gather some thoughts on approach, we can discuss when you are ready.

[2022-01-10 09:49] MadameSheema commented on #1075
Thanks @liza-mae!! I'll take a look as soon as I can.

[2022-01-10 14:47] MadameSheema commented on #1075
@liza-mae can you please confirm the upgrade path where the test is failing?

The current failure is different from the original one and I think it is a legitimate issue we need to fix. At least see this happening when it is an upgrade happening from 7.17 to 8.0, thanks!

[2022-01-10 15:22] liza-mae commented on #1075
Hi @MadameSheema all the paths are failing, so you can try one and see if it fixes the report above has the screenshots to compare if it is a similar failure.

[2022-01-11 22:34] liza-mae commented on #937
Per conversation with @matschaffer submitted re-enabling these tests on CI, they will still fail someone needs to fix them.

[2022-01-13 05:46] matschaffer commented on #937
Thanks @liza-mae - I'm working on seeing if I can get these passing (and hopefully use ESTF for a stack monitoring smoke test) as part of our "ON" week this week.

[2022-01-14 21:30] liza-mae commented on #1075
@MadameSheema yes will check it, thanks for the fix.

[2022-01-20 16:42] liza-mae commented on #905
Still blocked upgrading to 8.0.

[2022-01-31 17:24] liza-mae commented on #1075
@MadameSheema the original failures still exist, on latest runs.

https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/lastCompletedBuild/

[2022-02-01 11:47] MadameSheema commented on #1075
@liza-mae can you please confirm if the branch used was main or a different one? Thanks :)

[2022-02-02 00:13] liza-mae commented on #1075
@MadameSheema it was 7.17

[2022-02-08 15:53] MadameSheema commented on #1075
This PR https://github.com/elastic/kibana/pull/124980 should fix the issue.

[2022-02-14 16:44] liza-mae commented on #821
I am reopening this issue to wait and see if the CI systems team takes over support for Buildkite and I can get the agents configured for this testing.

[2022-03-14 01:59] matschaffer opened #1153 "Remove doc parity monitoring tests"
Starting with 8.0 we've accepted that monitoring docs will differ between versions. We have aliases in place to make sure queries work across versions, but we do not expect perfect field-for-field parity between collection methods.

This likely means just removing the https://github.com/elastic/elastic-stack-testing/tree/main/playbooks/monitoring tree and all associated jenkins jobs.

[2022-03-14 02:01] matschaffer commented on #1061
I'm going to close this in favor of https://github.com/elastic/elastic-stack-testing/issues/1153

I've discussed this with @jasonrhodes but it's no longer expected that documents will have field-per-field parity.

We have other efforts in flight on the @elastic/infra-monitoring-ui team to establish better end-to-end testing for stack monitoring.

[2022-03-14 02:01] #1061 closed

[2022-03-14 16:42] liza-mae commented on #1153
I have a PR up in infra repo to remove the jenkins jobs for monitoring, once that is merged, I will put another PR to remove the playbooks from this repo.

[2022-03-14 16:53] liza-mae commented on #1075
Currently working to get these tests fixed, first iteration of 7.17 from PR: https://github.com/elastic/kibana/pull/127363 has reduced the failures from 50+ https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/183/testReport/ to about 19 https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/186/testReport/, it appears the screen ta

[2022-03-14 16:57] liza-mae commented on #937
Closing, these tests will be removed: https://github.com/elastic/elastic-stack-testing/issues/1153

[2022-03-14 16:57] #937 closed

[2022-03-14 16:59] #208 closed

[2022-03-14 16:59] liza-mae commented on #443
Closing these tests will be removed: https://github.com/elastic/elastic-stack-testing/issues/1153

[2022-03-14 16:59] #443 closed

[2022-03-14 16:59] #199 closed

[2022-03-15 15:53] #1153 closed

[2022-03-15 16:22] liza-mae opened #1157 "Virtualbox is not supported on M1"
As reported by @gurevichdmitry @kfirpeled - Oracle VM VirtualBox is not supported on M1 which is used for the ansible roles, see: https://discussions.apple.com/thread/253292128.  An enhancement is needed to add other providers, either ```docker``` and/or ```cloud```

[2022-03-15 22:16] liza-mae commented on #1157
@gurevichdmitry @kfirpeled can you specify what you are needing here?  Do you require an on-prem installation of the stack or can you use elastic cloud (ess)?  If you require an on-prem installation then to get around this issue I can add a docker provider or cloud provider to be used with vagrant.  Let me know what your requirements are.

[2022-03-16 10:50] gurevichdmitry commented on #1157
@liza-mae, we are developing cloud security posture solution - checking configurations (CIS benchmarks) for Vanilla Kubernetes cluster and later it will be extended to GKE, AKS, ECS, OpenShift. The solution contains new plugin and integration on ELK stack side and beat agent on K8s cluster side. For testing our solution we will need to create different test environments.
Each test environment cont

[2022-03-16 22:42] liza-mae commented on #1157
Thanks @gurevichdmitry for clarifying the requirements.  It is best to add support for kubernetes, if eck will work for you, it was at some point part of this repo and working, but became out of date and so I removed it, I can look to see how much effort to put it back and also applying a fix for this issue about M1/on-prem installation.

[2022-03-17 16:27] liza-mae commented on #1075
Currently the cypress security solution tests are blocked from running in CI on branch 8.x with the following error:
[code]
This is coming from the FTR config validation and I don't see the error when I run the cypress locally, it is unclear to me the difference that would cause this error in CI environment but not local.

In any case we have attempted to solve this issue before here: elastic/kiba

[2022-03-18 00:57] #1157 closed

[2022-03-18 01:14] liza-mae commented on #1157
@gurevichdmitry @DaveSys911 This should be supported now, feel free to give it a try.  It is very new, so open issues if you find any.  Please note limitation ```auditbeat``` and ```apm-server``` don’t run with the docker provider, I will need to investigate a bit more on that.   Also, if you had previously tried to run this and are reusing the same directory, remove the ```ait_workspace``` direct

[2022-03-18 01:45] liza-mae commented on #1075
Closing this issue as we have fixed a lot of test failures, I will open separate ones on failures in CI.

[2022-03-18 01:45] #1075 closed

[2022-03-18 01:46] liza-mae opened #1177 "[8.x] Cypress fails to start FTR configuration problem"
Currently the cypress security solution tests are blocked from running in CI on branch 8.x with the following error:

[code]

This is coming from the FTR config validation and I don't see the error when I run the cypress locally, it is unclear to me the difference that would cause this error in CI environment but not local.

In any case we have attempted to solve this issue before here: https://gi

[2022-03-18 02:20] liza-mae opened #1179 "Add ECK support"
Add ECK support for testing.  Some requirements noted: https://github.com/elastic/elastic-stack-testing/issues/1157#issuecomment-1068989499

[2022-03-18 20:37] liza-mae commented on #1177
@MadameSheema I think I found the problem, they recently made some changes to the ```configuration verification in FTR``` for ```8.x``` branches, that is why we needed the fix for: https://github.com/elastic/kibana/issues/127096 although it seems to be a partial revert of https://github.com/elastic/kibana/pull/105095 it is required otherwise we will get another verification error: ```ERROR Validat

[2022-03-18 20:51] #1177 closed

[2022-03-18 22:39] liza-mae commented on #1177
CI results confirmed this issue is fixed with #1194

[2022-03-20 08:12] DaveSys911 commented on #1157
@liza-mae Thank you Liza, We will test and let you know

[2022-03-24 23:20] liza-mae opened #1199 "[Upgrade] Reporting tests are failing"
The upgrade reporting tests are failing recently, this issue describes the errors, fixes and analysis.

1. **[FIXED]** ```FTR terminates with unhandled promise rejection``` caused by socket hang up.  This was fixed by Spencer in https://github.com/elastic/kibana/pull/128309 to handle the error and keep the FTR from terminating.

[code]

2. **[OPEN]** ```Socket hang up fails reporting test```

[cod

[2022-03-28 17:37] liza-mae commented on #1199
All the kibana core tests were passing on March 15, 2022, I expect something broke in staging environment.

![Screenshot from 2022-03-28 09-40-33](https://user-images.githubusercontent.com/23424008/160455156-e3bd4aef-5b3d-4b5a-9c6c-c139b69e5c89.png)

[2022-03-28 18:41] liza-mae commented on #1199
Reporting was still passing in run #192 on March 18.   The issue started with run #193 on March 19, so I think it confirms this is a staging issue, since no code changes were made in Kibana I was using same released version both runs.

[2022-03-28 22:54] liza-mae opened #1200 "[Upgrade] Maps tests are failing"
The maps test for upgrade are failing because the ```data-test-subj``` tends to vary on upgrade path.  I use dynamic data.  I have seen this a few times in the most recent releases.  Allowing an option to check one or the other does pass the test.

**Web Logs**
```data-test-subj``` alternates between ```Requests by Country``` and  ```Requests by Destination```
[code]

**eCommerce/Flights**
```data

[2022-03-30 15:53] #1200 closed

[2022-03-31 19:02] liza-mae opened #1204 "[Upgrade] Dashboard smoke tests failing"
Upgrade Path: 7.13.4 -> 7.17.1 -> 8.1.1 (Also happens originating from  7.14.x)

After Kibana upgrade I am getting a problem with ```scripted field``` in kibana flight sample data ```hourOfDay``` field.  I have a fix I put in for this that appears to be working for other upgrade paths.  Anyway after further investigation it appears that ```scripted fields``` are now ```runtime fields``` and the AP

[2022-03-31 19:14] liza-mae opened #1205 "[Upgrade] Canvas tests failing (real kibana issue), enhance test method"
Upgrade path 6.8.x -> 7.17.1 -> 8.1.1 -> 8.1.2.

This failure is an actual bug and a Kibana issue has been opened here: https://github.com/elastic/kibana/issues/128993.

While investigating this failure, I noticed that I am hard coding the work pad ids for the sample data and in this case it matched the home link id, which found this Kibana bug.  I opening this issue because I would like to make a

[2022-03-31 21:48] #1204 closed

[2022-03-31 23:21] liza-mae commented on #821
Will need the ESTF agents from Jenkins to support this testing on Buildkite, CI Systems is not ready and my request was closed and linked above.  The reason is the approach is not ironed out yet.  Will keep posted to get timelines and approach so we can move this forward.  Started creating Buildkite pipelines and running against Kibana agents for now, where applicable.

[2022-04-04 17:38] #1205 closed

[2022-04-12 20:06] liza-mae opened #1220 "[Upgrade] [Security Solutions] [7.17.x] Test failures"
This issue outlines the test issues for security solutions upgrade tests on branch 7.17.

Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/216/testReport/

- Displays the correct timeline details inside the query tab. Import timeline after upgrade Displays the correct timeline details inside the query tab
  - This one fails since it is expecting Query4

[2022-04-13 22:54] liza-mae opened #1221 "Add CCS kibana tests for cloud"
There is an effort by @cuff-links to add CCS configuration to existing Kibana tests running on local instances, this issue is to add these tests to be run against cloud also.

From what I gathered there are two configurations and the tests are only applicable starting with version 8.2.0 and greater. In the Kibana repo currently configurations are below, @cuff-links please confirm this is correct.

[2022-04-13 23:11] liza-mae commented on #1221
I updated the original test version table, looks like the tests are only applicable with versions 8.2+

[2022-04-19 15:08] liza-mae opened #1224 "[Upgrade] [Security Solutions] [8.x] Test failures"
This issue outlines the test issues for security solutions upgrade tests on branch 8.x, specifically run against 8.2.0.

Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-tests/216/testReport/

- Displays the correct timeline details inside the query tab. Import timeline after upgrade Displays the correct timeline details inside the query tab
  - This one fai

[2022-04-20 15:37] #1220 closed

[2022-04-20 21:39] liza-mae opened #1228 "Security solutions improve reporting"
There are a couple of reporting items I would like to improve on for the security solution cypress upgrade tests.

1. Security solutions tests are showing as title ```(root)``` it would be nice if it was more specific, see screenshot:

![Screenshot from 2022-04-20 15-23-04](https://user-images.githubusercontent.com/23424008/164325298-364cf96f-4c82-4a74-b5cb-9bb3866dd52d.png)

I don't see any envir

[2022-04-21 20:23] liza-mae commented on #1199
So I looked into the ```socket hang up``` issue, with the reporting team and cloud team, and although we still don't know the root cause, I still suspect something on cloud, not specific to staging.

Anyway, I was able to patch the test using a try/catch around the code that waits for the reporting job to finish.  Since there is a verification step after this block of code, the test will still fai

[2022-04-27 20:55] #1224 closed

[2022-04-27 21:01] liza-mae opened #1230 "[Upgrade] [8.x] Security solution tests, add back commented out assertions"
In https://github.com/elastic/kibana/pull/130750 we fixed the bulk of the 8.x upgrade test failures, however to do so, we commented out some assertions that were inconsistent and/or had missing data-test-subj.  This is issue is to track adding this coverage back.

This is the commit we want to fix: https://github.com/elastic/kibana/pull/130750/commits/5783eae53204c98bb0d50686155c491a414e534c - we

[2022-05-06 22:42] #1221 closed

[2022-10-10 19:41] liza-mae commented on #821
Although ideally we would have Buildkite agents for the stack testing and kibana support matrix and we will keep the issue open to see if it is eventually implemented, for now I have chosen to use Terraform + ESTF Ansible.  Also we will move towards only running smoke tests for kibana support matrix.

[2022-10-20 19:17] liza-mae commented on #821
Support Matrix: https://www.elastic.co/support/matrix

OS

[code]

Browsers
[code]

[2022-10-28 19:16] liza-mae commented on #821
Support Matrix: https://www.elastic.co/support/matrix

**Kibana Browsers:**

- [ ] Firefox
- [ ] Chrome
- [ ] Safari (Mac)
- [ ] Edge Chromium

[2022-10-28 19:36] liza-mae commented on #821
Support Matrix: https://www.elastic.co/support/matrix

**Smoke Tests:**

- [ ] Canvas: x-pack/test/functional/apps/canvas/smoke_test.js
- [ ]

[2022-11-19 00:14] liza-mae opened #1317 "Logs upgrade tests broken on 8.5.2+"
This PR: https://github.com/elastic/kibana/pull/145130 appears to be causing new failures in the upgrade testing on cloud for 8.5.2

Test Reports: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-upgrade-snapshot-tests+8.5/lastCompletedBuild/testReport/

cc: @bhavyarm

[2022-11-21 16:21] bhavyarm commented on #1317
@liza-mae yeah not sure why. Taking a look at this. Thanks!

[2022-11-22 20:11] bhavyarm commented on #1317
Had to revert the fix because of last 1 year missing bug in 8.5.2. This bug is fixed in 8.6.0/main - https://github.com/elastic/kibana/pull/146069

[2022-11-22 22:23] bhavyarm commented on #1317
I will wait for the test run on 8.5.x and close this out. PR is merged - https://github.com/elastic/kibana/pull/146069